<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Opengento\Saleable\Api\CanShowPriceInterface" type="Opengento\Saleable\Model\CanShowPrice"/>
    <preference for="Opengento\Saleable\Api\IsSaleableInterface" type="Opengento\Saleable\Model\IsSaleable"/>
    <type name="Magento\Framework\Pricing\SaleableInterface">
        <plugin name="Opengento_Saleable::isSaleable" type="Opengento\Saleable\Plugin\Pricing\CanShowPrice" sortOrder="10"/>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="Opengento_Saleable::getCanShowPrice" type="Opengento\Saleable\Plugin\Saleable\CanShowPrice" sortOrder="10"/>
    </type>
</config>
