<?xml version="1.0"?>
<!--
/**
 * Copyright © OpenGento, All rights reserved.
 * See LICENSE bundled with this library for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_is_salable_after">
        <observer name="Opengento_Saleable::isSaleable" instance="Opengento\Saleable\Observer\Product\IsSaleable" />
    </event>
</config>
